%h1
  Loany McLoany Funds
%h2
  Amortization Calculator

.calculator-form-container
  = form_with(url: '/calculate', class: 'calculator-form', data: {remote: true}) do
    = label_tag 'Amount'
    = '$'
    %br
    = text_field_tag :amount, 10000, placeholder: 10000
    %br
    = label_tag 'Request date'
    %br
    = text_field_tag :request_date, Date.today.strftime('%m/%d/%Y'), placeholder: 'MM/DD/YYYY', class: 'disbursement-date'
    %br
    = label_tag 'Anual Interest rate'
    %br
    = text_field_tag :anual_rate, 10, placeholder: 10
    = '%'
    %br
    = label_tag 'Terms'
    %br
    = text_field_tag :terms, 12, placeholder: 12
    = "Months"
    %br
    - Amortization::Strategies::Base.strategy_name_class_map.each do |name, klass|
      = radio_button_tag :schedule_type, name, klass == Amortization::Strategies::Base.strategies.first, class: 'interest-only-check-box'
      = label_tag name, I18n.t(name)
      
      %br
    %br
    = submit_tag 'Calculate'
    .message
.result